@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="~/avatar.jpg" class="card-img-top" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title text-color-changing">Họ tên: Nguyễn Hoàng Hải</h5>
                <p class="card-text text-color-changing">MSSV: 2033216401</p>
            </div>
        </div>
    </div>
</div>
