<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="bigboost" />
    <meta name="keywords" content="bigboost" />
    <meta name="author" content="bigboost" />
    <link rel="icon" href="/assets/images/favicon/1.png" type="image/x-icon" />
    <link rel="shortcut icon"
          href="/assets/images/favicon/1.png"
          type="image/x-icon" />
    <title>bigboost</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css" />

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

    <!-- Themify icon -->
    <link rel="stylesheet"
          type="text/css"
          href="/assets/css/themify-icons.css" />

    <!-- Theme css -->
    <link rel="stylesheet"
          type="text/css"
          id="color"
          href="/assets/css/color1.css" />

    <style>
        #main-menu ul ul {
            display: none;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%); 
            background-color: #fff;
            z-index: 999;
        }

        #main-menu li:hover > ul {
            display: block;
        }

        #main-menu li {
            position: relative;
        }

        #main-menu ul ul li {
            padding: 10px;
            white-space: nowrap;
        }

            #main-menu ul ul li:hover {
                background-color: #f8f9fa;
            }

        .mega-menu {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        .mega-box {
            text-align: center;
        }
    </style>


</head>

<body>
    <!-- header part start -->
    <header class="header-1">
        <div class="mobile-fix-header"></div>
        <div class="container">
            <div class="row header-content">
                <div class="col-12">
                    <div class="header-section">
                        <div class="navbar">
                            <a href="javascript:void(0)" onclick="openNav()">
                                <div class="bar-style">
                                    <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                </div>
                            </a>
                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)"
                                   class="sidebar-overlay"
                                   onclick="closeNav()"></a>
                                <nav class="">
                                    <div onclick="closeNav()">
                                        <div class="sidebar-back text-start">
                                            <i class="fa fa-angle-left pe-2" aria-hidden="true"></i>
                                            Back
                                        </div>
                                    </div>
                                    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                        <li class="mega">
                                            <a href="#">mobiles, computers</a>
                                            <ul class="mega-menu vertical-mega-menu">
                                                <li>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-4 mega-box">
                                                                <div class="link-section">
                                                                    <div class="demo">
                                                                        <div class="menu-title">
                                                                            <h6>electronics</h6>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li>
                                                                                    <a target="_blank" href="#">Mobile phones</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">televisions</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">refrigerator</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">audio devices</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">Air Conditioners</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">laptop & PC</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 mega-box">
                                                                <div class="link-section">
                                                                    <div class="demo">
                                                                        <div class="menu-title">
                                                                            <h6>mobile</h6>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li>
                                                                                    <a target="_blank" href="#">new arrivals</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">best sellter</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">trading</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">pre-order</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">sale</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 mega-box">
                                                                <div class="link-section">
                                                                    <div class="demo">
                                                                        <div class="menu-title">
                                                                            <h6>computers</h6>
                                                                        </div>
                                                                        <div class="menu-content">
                                                                            <ul>
                                                                                <li>
                                                                                    <a target="_blank" href="#">PCs</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">laptop</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">accessories</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a target="_blank" href="#">gaming PCs</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Appliances, Electronics</a>
                                            <ul>
                                                <li><a href="#">tvs</a></li>
                                                <li><a href="#">refrigerator</a></li>
                                                <li><a href="#">computers</a></li>
                                                <li>
                                                    <a href="#">more</a>
                                                    <ul>
                                                        <li><a href="#">speakers</a></li>
                                                        <li><a href="#">washing</a></li>
                                                        <li><a href="#">laptops</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Men's Fashion</a>
                                            <ul>
                                                <li><a href="#">indian wear</a></li>
                                                <li><a href="#">western wear</a></li>
                                                <li><a href="#">sports wear</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Women's Fashion</a>
                                            <ul>
                                                <li><a href="#">fashion jewellery</a></li>
                                                <li><a href="#">caps and hats</a></li>
                                                <li><a href="#">precious jewellery</a></li>
                                                <li>
                                                    <a href="#">more..</a>
                                                    <ul>
                                                        <li><a href="#">necklaces</a></li>
                                                        <li><a href="#">earrings</a></li>
                                                        <li><a href="#">wrist wear</a></li>
                                                        <li><a href="#">belts & more</a></li>
                                                        <li><a href="#">wearable</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Home, Kitchen, Pets</a></li>
                                        <li>
                                            <a href="#">Beauty, Health, Grocery</a>
                                            <ul>
                                                <li><a href="#">makeup</a></li>
                                                <li><a href="#">skincare</a></li>
                                                <li><a href="#">premium beaty</a></li>
                                                <li><a href="#">more</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Sports, Bags, Luggage</a></li>
                                        <li><a href="#">Toys, Baby Products</a></li>
                                        <li><a href="#">Books</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo">
                            <a href="Index.cshtml">
                                <img src="assets/images/icon/logo.png" class="" alt="" />
                            </a>
                        </div>
                        <div class="search-bar">
                            <input class="search__input"
                                   type="text"
                                   placeholder="Search a product" />
                            <div class="search-icon"></div>
                        </div>
                        <div class="nav-icon">
                            <ul>
                                <li class="onhover-div setting-icon">
                                    <div>
                                        <img src="assets/images/icon/settings.png"
                                             class="img-fluid setting-img"
                                             alt="" />
                                        <i class="ti-settings mobile-icon"></i>
                                    </div>
                                    <div class="show-div setting">
                                        <h6>language</h6>
                                        <ul>
                                            <li class="active"><a href="#">english</a></li>
                                            <li><a href="#">french</a></li>
                                        </ul>
                                        <h6>currency</h6>
                                        <ul class="list-inline">
                                            <li><a href="#">euro</a></li>
                                            <li class="active"><a href="#">rupees</a></li>
                                            <li><a href="#">pound</a></li>
                                            <li><a href="#">doller</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="onhover-div search-3">
                                    <div onclick="openSearch()">
                                        <i class="ti-search mobile-icon-search"></i>
                                        <img src="assets/images/icon/l-1/search.png"
                                             class="img-fluid search-img"
                                             alt="" />
                                    </div>
                                    <div id="search-overlay" class="search-overlay">
                                        <div>
                                            <span class="closebtn"
                                                  onclick="closeSearch()"
                                                  title="Close Overlay">×</span>
                                            <div class="overlay-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <form>
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="exampleInputPassword1"
                                                                           placeholder="Search a Product" />
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="onhover-div wishlist-icon"
                                    onclick="openWishlist()">
                                    <img src="assets/images/icon/l-1/wishlist.png"
                                         alt=""
                                         class="wishlist-img" />
                                    <i class="ti-heart mobile-icon"></i>
                                    <div class="wishlist icon-detail">
                                        <h6 class="up-cls"><span>0 item</span></h6>
                                        <h6><a href="#">wish list</a></h6>
                                    </div>
                                </li>
                                <li class="onhover-div user-icon" onclick="openAccount()">
                                    <img src="assets/images/icon/l-1/user.png"
                                         alt=""
                                         class="user-img" />
                                    <i class="ti-user mobile-icon"></i>
                                    <div class="wishlist icon-detail">
                                        <h6 class="up-cls"><span>my account</span></h6>
                                        <h6><a href="#">login/sign up</a></h6>
                                    </div>
                                </li>
                                <li class="onhover-div cart-icon" onclick="openCart()">
                                    <img src="assets/images/icon/l-1/shopping-cart.png"
                                         alt=""
                                         class="cart-image" />
                                    <i class="ti-shopping-cart mobile-icon"></i>
                                    <div class="cart icon-detail">
                                        <h6 class="up-cls"><span>3 item</span></h6>
                                        <h6><a href="#">my cart</a></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-class">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav id="main-nav">
                            <div class="toggle-nav">
                                <i class="ti-menu-alt"></i>
                            </div>
                            <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                <li>
                                    <div class="mobile-back text-end">
                                        Back<i class="fa fa-angle-right ps-2"
                                               aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="icon-cls">
                                    <a href="#">
                                        <i class="fa fa-home home-icon" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Home</a>
                                    <ul>
                                        <li><a href="Index.cshtml">mega store 1</a></li>
                                        <li><a href="layout-2.html">mega store 2</a></li>
                                        <li><a href="layout-3.html">mega store 3</a></li>
                                        <li><a href="layout-4.html">mega store 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">shop</a>
                                    <ul>
                                        <li><a href="category-page.html">left sidebar</a></li>
                                        <li>
                                            <a href="category-page(right).html">right sidebar</a>
                                        </li>
                                        <li>
                                            <a href="category-page(no-sidebar).html">no sidebar</a>
                                        </li>
                                        <li>
                                            <a href="category-page(sidebar-popup).html">sidebar popup</a>
                                        </li>
                                        <li><a href="category-page(metro).html">metro </a></li>
                                        <li>
                                            <a href="category-page(full-width).html">full width </a>
                                        </li>
                                        <li>
                                            <a href="category-page(infinite-scroll).html">infinite scroll</a>
                                        </li>
                                        <li>
                                            <a href="category-page(3-grid).html">three grid</a>
                                        </li>
                                        <li><a href="category-page(6-grid).html">six grid</a></li>
                                        <li>
                                            <a href="category-page(list-view).html">list view</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">product</a>
                                    <ul>
                                        <li>
                                            <a href="#">sidebar</a>
                                            <ul>
                                                <li><a href="product-page.html">left sidebar</a></li>
                                                <li>
                                                    <a href="product-page(right-sidebar).html">right sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="product-page(no-sidebar).html">no sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">thumbnail image</a>
                                            <ul>
                                                <li>
                                                    <a href="product-page(left-image).html">left image</a>
                                                </li>
                                                <li>
                                                    <a href="product-page(right-image).html">right image</a>
                                                </li>
                                                <li>
                                                    <a href="product-page(image-outside).html">
                                                        image outside
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">three column</a>
                                            <ul>
                                                <li>
                                                    <a href="product-page(3-col-left).html">thumbnail left</a>
                                                </li>
                                                <li>
                                                    <a href="product-page(3-col-right).html">thumbnail right</a>
                                                </li>
                                                <li>
                                                    <a href="product-page(3-column).html">thubnail bottom</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="product-page(4-image).html">four image </a>
                                        </li>
                                        <li><a href="product-page(sticky).html">sticky</a></li>
                                        <li>
                                            <a href="product-page(accordian).html">accordian</a>
                                        </li>
                                        <li><a href="product-page(bundle).html">bundle</a></li>
                                        <li>
                                            <a href="product-page(image-swatch).html">
                                                image swatch
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-page(vertical-tab).html">vertical tab</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">feature</a>
                                    <ul>
                                        <li>
                                            <a href="#">portfolio</a>
                                            <ul>
                                                <li>
                                                    <a href="grid-2-col.html">portfolio grid 2</a>
                                                </li>
                                                <li>
                                                    <a href="grid-3-col.html">portfolio grid 3</a>
                                                </li>
                                                <li>
                                                    <a href="grid-4-col.html">portfolio grid 4</a>
                                                </li>
                                                <li>
                                                    <a href="masonary-2-grid.html">masonry grid 2</a>
                                                </li>
                                                <li>
                                                    <a href="masonary-3-grid.html">masonry grid 3</a>
                                                </li>
                                                <li>
                                                    <a href="masonary-4-grid.html">masonry grid 4</a>
                                                </li>
                                                <li>
                                                    <a href="masonary-fullwidth.html">masonry full width</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">elements</a>
                                            <ul>
                                                <li>
                                                    <a href="element-productbox.html">product box</a>
                                                </li>
                                                <li><a href="element-app.html">application</a></li>
                                                <li><a href="element-banner.html">banner</a></li>
                                                <li><a href="element-category.html">category</a></li>
                                                <li>
                                                    <a href="element-collection-banner.html">collection banner</a>
                                                </li>
                                                <li><a href="element-logo.html">brand logo</a></li>
                                                <li><a href="element-service.html">service</a></li>
                                                <li><a href="element-tab.html">tab</a></li>
                                                <li>
                                                    <a href="element-tab.html">vertical tab</a>
                                                    <ul>
                                                        <li>
                                                            <a href="element-vertical-tab(1).html">tab 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="element-vertical-tab(2).html">tab 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">pages</a>
                                    <ul>
                                        <li>
                                            <a href="#">account</a>
                                            <ul>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="dashboard.html">Dashboard</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="forget_pwd.html">forget password</a></li>
                                                <li><a href="profile.html">profile </a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-page.html">about us</a></li>
                                        <li><a href="search.html">search</a></li>
                                        <li><a href="typography.html">typography </a></li>
                                        <li><a href="order-success.html">order success</a></li>
                                        <li><a href="order-history.html">order history</a></li>
                                        <li>
                                            <a href="#">compare</a>
                                            <ul>
                                                <li><a href="compare.html">compare</a></li>
                                                <li><a href="compare-2.html">compare-2 </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="collection.html">collection</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="coming-soon.html">coming soon </a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">blog</a>
                                    <ul>
                                        <li><a href="blog-page.html">left sidebar</a></li>
                                        <li>
                                            <a href="blog(right-sidebar).html">right sidebar</a>
                                        </li>
                                        <li><a href="blog(no-sidebar).html">no sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li class="mega">
                                    <a href="#">Mega menu</a>
                                    <ul class="mega-menu feature-menu full-mega-menu">
                                        <li>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>electronics</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/1.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">Mobile phones</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">televisions</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">refrigerator</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">audio devices</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">Air Conditioners</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">laptop & PC</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>fashion</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/2.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">woman clothes</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">men clothes</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">footewear</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">accessories</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">watches</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>beauty products</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/3.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">beauty</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">personal care</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">natural care</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">men</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">applience</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>home & kitchen</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/4.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">kitchen & dinning</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">furniture</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">fine art</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">kitchen storage</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">home decor</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>books & movies</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/5.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">all book</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">audio books</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">all movies</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">music</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">video games</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 mega-box">
                                                        <div class="link-section">
                                                            <div class="demo">
                                                                <div class="menu-title">
                                                                    <h6>baby products</h6>
                                                                </div>
                                                                <div class="menu-content">
                                                                    <img src="assets/images/mega-menu/6.jpg"
                                                                         class="mega-menu-img img-fluid"
                                                                         alt="" />
                                                                    <ul>
                                                                        <li>
                                                                            <a target="_blank" href="#">toys & games</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">baby products</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">kids fashion</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">toy gifting store</a>
                                                                        </li>
                                                                        <li>
                                                                            <a target="_blank" href="#">baby bath & skin</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header part end -->
    <!-- home slider section start-->
    <div class="slider-bg slider-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-12 slider-part">
                    <div class="slide-1 home-slider">
                        <div>
                            <div class="home text-start p-left">
                                <img src="assets/images/home-banner/7.jpg"
                                     class="bg-img"
                                     alt="" />
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h5>sony bravia</h5>
                                                    <h1>LED TV</h1>
                                                    <h4>save up to 50%</h4>
                                                    <a href="#" class="btn btn-solid">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="home text-start p-left">
                                <img src="assets/images/home-banner/8.jpg"
                                     class="bg-img"
                                     alt="" />
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="slider-contain">
                                                <div>
                                                    <h5>nest</h5>
                                                    <h1>device</h1>
                                                    <h4>save up to 50%</h4>
                                                    <a href="#" class="btn btn-solid">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home slider section end-->
    <!-- feature section start -->
    <section class="upper-part">
        <div class="container">
            <div class="row partition">
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="blog-box blog-pattern">
                        <div class="blog-white feature-sec">
                            <h2 class="title">our featured offers</h2>
                            <div class="feature-block">
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured1.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>save 30% off</h5></a>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured2.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>only $99</h5></a>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-block">
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured3.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>save 20%</h5></a>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured4.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>2 day shipping</h5></a>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-block">
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured5.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>sale 60% off</h5></a>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#">
                                        <img class="me-3 img-fluid"
                                             src="assets/images/featured/featured6.jpg"
                                             alt="Generic placeholder image" />
                                    </a>
                                    <div class="media-body">
                                        <a href="#"><h5>20% off toys</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 order-lg-1 order-xl-0">
                    <div class="blog-box blog-pattern">
                        <div class="blog-white review-sec">
                            <h2 class="title">customer says</h2>
                            <div class="slide-1">
                                <div>
                                    <div class="review-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/testimonial/1.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="icon">
                                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>mark jecno</h6>
                                                <p>
                                                    Long established fact that a reader will be
                                                    distracted by the readable.Long established fact.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/testimonial/2.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="icon">
                                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>lara oprt</h6>
                                                <p>
                                                    Many desktop publishing packages and web page
                                                    editors now use Lorem Ipsum as their default model
                                                    text, and a search for text.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="review-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/testimonial/1.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="icon">
                                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>mark jecno</h6>
                                                <p>
                                                    Long established fact that a reader will be
                                                    distracted by the readable.Long established fact.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/testimonial/2.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="icon">
                                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6>lara oprt</h6>
                                                <p>
                                                    Many desktop publishing packages and web page
                                                    editors now use Lorem Ipsum as their default model
                                                    text, and a search for text.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="blog-box blog-pattern">
                        <div class="blog-white product-sec">
                            <h2 class="title">you may like</h2>
                            <div class="slide-1">
                                <div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/1.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>memory card</h5>
                                                    <p>965 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/2.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>watch</h5>
                                                    <p>265 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/3.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>printer</h5>
                                                    <p>653 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/4.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>books</h5>
                                                    <p>4965 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/1.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>memory card</h5>
                                                    <p>965 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/2.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>watch</h5>
                                                    <p>265 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/3.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>printer</h5>
                                                    <p>653 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-block">
                                        <div class="media">
                                            <img class="me-3"
                                                 src="assets/images/may-like/4.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <div>
                                                    <h5>books</h5>
                                                    <p>4965 products</p>
                                                </div>
                                                <a href="#" class="btn btn-solid btn-solid-sm">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->
    <!-- facebook chat section start -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        })(document, "script", "facebook-jssdk");
    </script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="2123438804574660"
         theme_color="#0084ff"
         logged_in_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?"
         logged_out_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?"></div>
    <!-- facebook chat section end -->
    <!-- latest jquery-->
    <script src="assets/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="assets/js/menu.js"></script>

    <!-- slick js-->
    <script src="assets/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Timer js-->
    <script src="assets/js/timer.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="assets/js/script.js"></script>

    <script>
        $(window).on("load", function () {
            $("#exampleModal").modal("show");
        });
    </script>

    <!-- modal js-->
    <script src="assets/js/modal.js"></script>
</body>
</html>
